body {
font-family:Arial,san-serif
margin: 0;
padding: 0;
background-color: #f4f4f4;
}
header{
background-color: #222;
color: white;
padding: 20px;
text-align: center;
}
section{
background: white;
margin: 20px;
padding: 20px;
border-radius: 8px;
}
ul{
display:flex;
gap:15px;
list-style:none;
padding:0;
}
footer{
text-align:center;
padding:10px;
background:#222;
color: white;
}